#simplefog-brush-controls {
    position: absolute;
    left: 120px;
    width: 180px;
    text-align: center;
}

#simplefog-brush-controls h3,
#simplefog-brush-controls .label {
    color: #FFF;
    text-shadow: 1px 1px 0 #000;
}

#simplefog-brush-controls .label {
    position: absolute;
    top: 22px;
}
#simplefog-brush-controls .brush-opacity {
    position: relative;
}
#simplefog-brush-controls .right-label {
    right: 0;
}
#simplefog-brush-controls .left-label {
    left: 0;
}

/* Webkit browsers */
#simplefog-brush-controls input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  margin-top: -10px;
}


/* Firefox */
#simplefog-brush-controls input[type=range]::-moz-range-thumb {
  height: 24px;
}

/* IE */
#simplefog-brush-controls input[type=range]::-ms-thumb {
  height: 24px;
}
